<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>

<div>
  <form th:method="POST" th:action="@{/admin/create}" th:object="${users}">

    <label for="name" >Enter name: </label>
    <input type="text" th:field="*{username}" id="name">
    <br/>

    <label for="password" >Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>


    <label for="email" >Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>

    <input type="submit" value="creat!">
  </form>
</div>

</body>
</html>